<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Credentials</title>
<link rel="stylesheet" th:href="@{/css/style.css}" />
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
<h2>Credentials</h2>
<table >
	<tr><td>
	<div>
		<form th:action="@{/uploadPasswordFile}" method="post"
			enctype="multipart/form-data">
			<div>
				<label for="file">Select Password File</label> 
				<input type="file" name="passwordFile" />
			</div>
			
			<div>
				<button type="submit">Submit</button>
			</div>
		</form>
	</div>
	</td>
	</tr>
</table>

	

	<table>

		<tr>
			<th>Id</th>
			<th>User Name</th>
			<th>Container</th>
		</tr>

		<tr th:each="credential : ${credentials}">
			<td th:text="${credential.id}">Id</td>
			<td th:text="${credential.username}">User Name</td>
			<td th:text="${credential.container.name}">Container</td>
		</tr>

	</table>
	
</body>
</html>