<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Credential Management</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<!--  <link href="default.css" rel="stylesheet" type="text/css" />-->
<link rel="stylesheet" th:href="@{/css/default.css}" />
</head>
<body>
	<div id="header">
		<div id="logo">
			<h1>Credential Management</h1>

		</div>
		<div id="splash">
			<a href="#"><img th:src="@{/images/img02.jpg}" alt="" width="520"
				height="200" /></a>
		</div>
	</div>
	<div id="content">



		<div id="updates" class="boxed">
			 <h1>File Upload Status</h1>
            <!--display error if any-->
            <div  th:if="${!status}">
                <strong>Error:</strong>
                <span th:text="${message}"></span>
            </div>
			<div class="content">
			

				<table id="boxed">

					<tr>
						<th>Id</th>
						<th>User Name</th>
						
						<th>Password</th>
					</tr>

					<tr th:each="credential : ${credentialPasswords}">
						<td width=100 th:text="${credential.id}">Id</td>
						<td width=200 th:text="${credential.username}">User Name</td>
						<td width=200 th:text="${credential.encryptedPassword}">Password</td>
					</tr>

				</table>
			</div>
		</div>

	</div>


</body>
</html>
