<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Credential Management</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<!--  <link href="default.css" rel="stylesheet" type="text/css" />-->
<link rel="stylesheet" th:href="@{/css/default.css}" />
</head>
<body>
	<div id="header">
		<div id="logo">
			<a href="/">
				<h1>Credential Management</h1>
			</a>

		</div>
		<div id="splash">
			<img th:src="@{/images/img02.jpg}" alt="" width="520" height="200" />
		</div>
	</div>
	<div id="content">



		<div id="updates" class="boxed">
			<h2 class="title">Users</h2>
			<div class="content">
				<h3>User Registration Form</h3>
				<form th:action="@{/registration}" method="post">
					<table>
						<tr>
							<td><label>User Name</label></td>
							<td><input type="text" /></td>
						</tr>
						<tr>
							<td><label>Email</label></td>
							<td><input type="text" /></td>
						</tr>
						<tr>
							<td><label>Password</label></td>
							<td width=600><input type="password" /></td>
						</tr>
						<tr>
							<td></td>
							<td><button type="submit">Submit</button></td>
						</tr>
					</table>
				</form>
			</div>
			<div class="content">


				<table id="boxed">

					<tr>
						<th>Id</th>
						<th>Username</th>
						<th>Email</th>
					</tr>

					<tr th:each="user : ${users}">
						<td width=100 th:text="${user.id}">Id</td>
						<td width=300 th:text="${user.username}">Username</td>
						<td width=300 th:text="${user.email}">Email</td>
					</tr>

				</table>
			</div>
		</div>

	</div>


</body>
</html>
